/* BEGIN PASTED FROM SWEETBUN BLOCK */

body {
    color: white;
    font-family: Helvetica, arial;
    height: 100%;
    margin: 0px;
    background: url('../img/bg3.png') #5c67a0 no-repeat top;
    z-index: 0;
}

#top-bar {
    position: relative;
    left: 0px;
    bottom: 0px;
    width: 100%;
    z-index: 1;
    min-width: 1050px;  
    overflow: hidden;
    height: 16pt;
    background: rgba(0, 0, 0, 0.2);
    text-align: center;
}

.socialBtn {
    float: right;
    margin-right: 4px;
}

.socialBtn img {
    width: 20px;
    height: 20px;
    position: relative;
    top: 1px;
}

#content {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding-top: 25px;
    height: auto !important;
    height: 100%;
    width: 1050px;
}

.transTextCont, .btnTransTextCont, .menuTransTextCont {
    position: relative;
    padding: 1px;
    height: auto;
    z-index: 2;
    padding-left: 0px;
    padding-right: 0px;
}

.box {
    font-size: 12pt;
    vertical-align: top;
    overflow: hidden;
}

.box h2 {
    padding: 0px;
    margin: 0px;
    margin-left: 5px;
}

.btnTransTextCont {
    display: inline;
    text-align: center;
    padding-bottom: 2px;
    padding-top: 2px;
    
}
.menuTransTextCont {
    position: relative;
    /*display: block;*/
    padding: 0px 0.5%;
}

.transBG, .menuTransBG, .outerMenutransBG {
    display: inline;
    position: absolute;
    width: auto;
    height: auto;
    right: 0px;
    bottom: 0px;
    left: 0px;
    top: 0px;
    background-color: #000000;
    -moz-opacity: 0.4;
    -khtml-opacity: 0.4;
    opacity: 0.4;
    z-index: 1;
}
 .menuTransBG {
    -moz-opacity: 0.4;
    -khtml-opacity: 0.4;
    opacity: 0.4;
    z-index: -1;
    background-color: transparent;
    border: none;
}

.outerMenutransBG {
    background-color: transparent;
}

.btnTransCont, #sitemenu li, .menuTransCont {
    display: inline;
    position: relative;
    left: 0px;
    top: 0px;
    white-space: nowrap;
}

.menuTransCont {
    display: inline;
    /*display: inline-block !important;*/
 }

.btnTrans
{
    display: inline;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
}

.btnTrans: link, .btnTrans: visited {color: white;}      /* link */
.btnTrans: hover {color: black;}  /* mouse over link */
.btnTrans: active {color: #0000FF;}  /* selected link, no IE */

.btnTrans .transBG: hover, .btnTrans: hover .transBG
{
    background-color: white;
}

.btnTrans .transBG: active, .btnTrans: active .transBG
{
    background-color: #666666;
}

.menuTrans, #sitemenu a
{
    /*display: block;*/
    position: relative;
    text-decoration: none;
}

.menuTrans: link, .menuTrans: visited{color: white;}      /* link */
.menuTrans: hover {color: black;}  /* mouse over link */
.menuTrans: active {color: #0000FF;}  /* selected link, no IE? */

.menuTrans .menuTransBG: hover, .menuTrans: hover .menuTransBG
{
    background-color: white;
}

.menuTrans .transBG: active, .menuTrans: active .transBG
{
    background-color: #666666;
}

.txtPositioner
{
    /*padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;*/
    padding: 15px;
}

.socialBtn a 
{
    text-decoration: none;
}

.socialBtn a: link, .socialBtn a: visited
{
    -moz-opacity: 0.6;
    -khtml-opacity: 0.6;
    opacity: 0.6;
}

.socialBtn a: hover
{
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}

img 
{
    border: 0px none;
}

/*
#URYlogo
{
animation: throb 0.5s linear 0.5s infinite alternate;
-moz-animation: throb 0.5s linear 0.5s infinite alternate;
Safari and Chrome: 
-webkit-animation: throb 0.5s linear 0.5s infinite alternate;
}
*/
@keyframes throb
{
25%  { transform: scale(1.06,1.03); -ms-transform: scale(1.06,1.03); /* IE 9 */ -webkit-transform: scale(1.06,1.03); /* Safari and Chrome */ -o-transform: scale(1.06,1.03); /* Opera */ -moz-transform: scale(1.06,1.03); /* Firefox */}
}

@-moz-keyframes throb /* Firefox */
{
25%  { transform: scale(1.06,1.03); -ms-transform: scale(1.06,1.03); /* IE 9 */ -webkit-transform: scale(1.06,1.03); /* Safari and Chrome */ -o-transform: scale(1.06,1.03); /* Opera */ -moz-transform: scale(1.06,1.03); /* Firefox */}
}

@-webkit-keyframes throb /*Safari and Chrome */
{
25%  {transform: scale(1.06,1.03); -ms-transform: scale(1.06,1.03); /* IE 9 */ -webkit-transform: scale(1.06,1.03); /* Safari and Chrome */ -o-transform: scale(1.06,1.03); /* Opera */ -moz-transform: scale(1.06,1.03); /* Firefox */}
}
/* END PASTED FROM SWEETBUN BLOCK */

/* ((URY)) austerity CSS */

a:link {
    color: #adf;
}

#masthead {
    width: 1050px;
    height: 220px;
    margin: 0 auto;
    font: 18pt bold Helvetica, arial;
    text-shadow: 1px 2px black;
    -webkit-text-shadow: 1px 2px black;
    -khtml-text-shadow: 1px 2px black;
    -moz-text-shadow: 1px 2px black;
}

#masthead h1 {
    font-size: 100%;
}

#sitetitle {
    text-align: center;
    font-size: 100%;
}

#sitemenu {
}

#sitemenu ul {
    list-style-type: none;
    list-style-position: outside;
    padding: 0px;
    margin: 0px;
    font-size: 14pt;
    vertical-align: top
}

#sitemenu ul li {
    display: inline;
}

article {
    width: 100%;
    display: table;
}

article>header {
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.3);
    display: table-caption;
    margin-bottom: 5px;
}

article>header>h1 {
    font-size: 35px;
    padding: 5px;
    margin: 0;
}

article>.article-body {
    width: 700px;
    margin: 0;
    padding: 0;
    padding-right: 5px;
    display: table-cell;
}

article>aside {
    border-radius: 5px;
    width: 325px;
    background-color: rgba(0, 0, 0, 0.3);
    display: table-cell;
} 

article>aside>section {
    border: 1px solid black;
    padding: 0;
    margin: 2px;
}

article>aside>section>h1 {
    background-color: black;
    color: white;
    padding: 5px;
    margin: 0;
}

/* SCHEDULE */

.schedule-header {
    position: relative;
    top: 0;
    left: 0;
    height: 40px;
    display: block;
}

.schedule-header nav {
    /*position: absolute;*/
    top: 0;
    left: 0;
    display: block;
    /*height: 100%;
    width: 100%;*/
}

.schedule-header h2 {
    position: absolute;
    bottom: 5px;
    width: 100%;
    text-align: center;
    margin: 0;
}

.schedule-header-prev, .schedule-header-next {
}

.schedule-header-prev {
    position: absolute;
    bottom: 5px;
    left: 5px;
}

.schedule-header-next {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

/* -- DAY SCHEDULE */

ol#schedule-day {
    list-style-type: none;
    list-style-position: outside;
    padding: 0;
    margin: 0;
}

#schedule-day li:first-child {
    margin-top: 0;
}

#schedule-day li:last-child {
    margin-bottom: 0;
}

#schedule-day li {
    /* Colouring is done by the block-xyz classes. */
    padding: 5px;
    /* Use this and the first/last-child stuff to separate items. */
    margin-bottom: 5px;
    position: relative;
    top: 0;
    border-radius:5px;
    overflow: hidden;
}

#schedule-day li p {
    margin: 5px;
}

.schedule-day-show-time {
    position: absolute;
    top: 5px;
    right: 5px;
    margin: 0;
    font-size: 24pt;
    opacity: 0.5;
}

.schedule-day-show-title {
    margin: 0;
    font-size: 20pt;
}

.schedule-day-show-by-line {
    margin: 0;
    margin-top: -4px;
    margin-left: 20px;
    font-size: 18px;
    font-style: italic;
    opacity: 0.8;
}

.schedule-day-block-name {
    position: absolute;
    bottom: -16px;
    left: -16px;
    z-index: -2;
    font-size: 60px;
    opacity: 0.2;
    padding: 0;
    margin: 0;
}

/* -- WEEK SCHEDULE */

table#schedule-week-table {
    background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.4);
    border-spacing: 5px 2px;
    table-layout: fixed;
    margin: 0 auto;
    border-radius: 5px;
    padding-bottom: 5px;
}

table#schedule-week-table thead tr th {
    padding: 5px;
}

/*table#schedule-week-table tr:hover > * {
    background-color: rgba(255,255,255,0.5) !important;
}*/

table#schedule-week-table td {
    padding: 5px;
    font-size: 14px;
    text-align: left;
    vertical-align: top;
    border-radius: 5px;
    width: 130px;
}

.schedule-week-time {
    width: 30px;
    padding: 5px;
    vertical-align: top;
}

.schedule-week-hour {
    border-top: 2px solid rgba(0, 0, 0, 0.4);
    font-size: 20px;
}

.schedule-week-non-hour {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.4);
}

.schedule-week-continued {
    display: none;
}

/* BLOCKS */

.block-default {
    background-color: rgba(220, 220, 220, 0.4);
}

.block-jukebox {
    background-color: rgba(0%, 0%, 0%, 0.2);
}

.block-flagship {
    background-color: rgba(30, 144, 255, 0.4);
}

.block-music {
    background-color: rgba(139, 0, 139, 0.4);
}
