-e git://github.com/UniversityRadioYork/lass.git#egg=lass
Django>=1.4.2
PIL>=1.1.6
django-blog-zinnia>=0.11.2
django-compressor>=1.2
django-debug-toolbar>=0.9.4
django-endless-pagination>=1.1
django-flatblocks>=0.6.0
django-haystack==1.2.7
django-less>=0.4
django-mptt>=0.5.4
django-sitetree>=0.9
django-tagging>=0.3.1
django-timedeltafield>=0.6.7
feedparser>=5.1.2
psycopg2>=2.4.5
python-memcached>=1.48
template_utils>=0.4
xapian-haystack>=1.1.4
