{% extends "urysite/master.html" %}
{% load url from future %}
{% block title %}URY - {{ day_start|date }}{% endblock title %}
{% block body %}

<article class="schedule-page">
    <header>
        <h1>URY Schedule</h1>
        <div class="schedule-header">
            <h2>Schedule for {{ day_start|date:"l, jS F Y" }}</h2>
            <nav>
                <a href="{% url 'schedule_weekday' year=prev_year week=prev_week weekday=prev_day %}"
                   class="schedule-header-prev">
                    Previous Day 
                </a>
                <a href="{% url 'schedule_weekday' year=next_year week=next_week weekday=next_day %}"
                   class="schedule-header-next">
                    Next Day
                </a>
            </nav>
        </div>
    </header>

    <div class="article-body pageAside">
        {% if not term and not disable_holiday_message %}
            <p>
                Sorry, but URY do not broadcast out of term time.
            </p>
        {% else %}
            <ol id="schedule-day">
                {% for slot in schedule %}
                    <li class="schedule-item
                              block-{{ slot.block.tag|default:"default" }}">
                        <hgroup>
                            <h1 class="schedule-day-show-time">
                                {{ slot.start_time|date:"H:i" }}
                            </h1>
                            <h2 class="schedule-day-show-title">
                                {{ slot.title }}
                            </h2>
                            {% if slot.by_line %}
                            <h3 class="schedule-day-show-by-line">
                                with {{slot.by_line}}
                            </h3> 
                            {% endif %}
                        </hgroup>
            
                        {% if slot.block %}
                            <span class="schedule-day-block-name">
                                {{ slot.block.name }}
                            </span>
                        {% endif %}

                        <p>
                            {{slot.description}}
                        </p>
                    </li>
                {% endfor %}
            </ol>
        {% endif %}
    </div>
    <aside class="rightAside">
        <p>Something here</p>
    </aside>
</article>
{% endblock body %}
