{% extends "urysite/article.html" %}
{% load url from future %}
{% load flatblock_tags %}
{% block title %}URY - Week Commencing {{ week_start|date }}{% endblock title %}
{% block article-title %}URY Schedule{% endblock article-title %}

{% block article-header-extra %}
    <div class="schedule-header">
        <h2>Week Commencing {{ week_start|date }}</h2>
        <nav>
            <a href="{% url 'schedule_week' prev_year prev_week %}"
               class="schedule-header-prev">
                Previous Week
            </a>
            <a href="{% url 'schedule_week' next_year next_week %}"
               class="schedule-header-next">
                Next Week
            </a>
        </nav>
    </div>
{% endblock article-header-extra %}

{% block article %}
    {% if not term and not disable_holiday_message %}
        {% flatblock "schedule.holiday_message" %}
    {% else %}
        {% include "schedule/schedule-week-table.html" %}
    {% endif %}
{% endblock article %}
