<section id="chart" class="box height-1 width-1">
  <h2>Chart</h2>
  <table id="home-chart" class="music-chart">
      <thead>
          <tr>
              <th><abbr title="Position">Pos.</abbr></th>
              <th>Artist</th>
              <th>Title</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>1</td>
              <td><a href="#">Cheryl Cole</a></td>
              <td>Call My Name</td>
          </tr>
          <tr>
              <td>2</td>
              <td><a href="#">fun featuring Janelle Monae</a></td>
              <td>We Are Young</td>
          </tr>
          <tr>
              <td>3</td>
              <td><a href="#">Rudimental featuring John Newman</a></td>
              <td>Feel The Love</td>
          </tr>
          <tr>
              <td>4</td>
              <td><a href="#">Stooshe</a></td>
              <td>Black Heart</td>
          </tr>
          <tr>
              <td>5</td>
              <td><a href="#">Carly Rae Jepsen</a></td>
              <td>Call Me Maybe</td>
          </tr>
      </tbody>
  </table>
  <footer>
      <a href="#">Listen to latest Chart rundown</a>
      <a class="more transHovBG" href="#">+</a>
  </footer>
</section>