<section id="music" class="box height-1 width-1">
  <h2>Music</h2>
  <h3>Recommended Listening</h3>
  <table id="recommended" class="music-chart">
      <thead>
          <tr>
              <th>Artist</th>
              <th>Title</th>
          </tr>
      </thead>
      <tbody>
        {% for song in music %}
          <tr>
            <td><a href="{{ song.link }}">{{ song.artist }}</a></td>
            <td>{{ song.title }}</td>
          </tr>
        {% endif %}
        {% empty %}
          <tr>
            <td colspan="2">No Music Today!</td>
          </tr>
        {% endfor %}
      </tbody>
  </table>
  <footer>
      <a href="#">Listen to latest Focus:Music podcast</a>
      <a class="more transHovBG" href="#">+</a>
  </footer>
</section>