<section id="news" class="box height-1 width-1">
  <h2>News</h2>
  <dl>
      <dt><a href="#">Speaker with "extremist" links to speak at university</a></dt>
          <dd>The University's Islamic Society is to host a speaker with links...</dd>
      <dt><a href="#">Wee 7 news update: listen on demand</a></dt>
          <dd>Listen back to this week's campus update from the URY News team. On...</dd>
  </dl>
  <footer>
      <a href="#">Listen to latest Newshour podcast</a>
      <a class="more transHovBG" href="#">+</a>
  </footer>
</section>