<section id="podcast" class="box height-2 width-1">
  <h2>((URY)) Player</h2>
  <dl class="clearfix">
    {% for item in podcasts %}
      <dt class="podTitle">{{ item.title }}</dt>
          <dd class="podImg"><img alt="{{ item.imgAlt }}" src="{{ item.img }}"></dd>
          <dd class="podDesc">{{ item.desc }}</dd>
    {% empty %}
      <dt></dt>
          <dd>No Podcasts Today!</dd>
    {% endfor %}
  </dl>
  <form name="search" action="" method="post">
    <label for="term">Search our podcast library:</label>
    <input type="search" id="term" name="term" placeholder="Part of title or description">
    <input type="submit" value="Search">
  </form>
  <footer>
      <a class="more transHovBG" href="#">+</a>
  </footer>
</section>