<section id="podcast" class="box height-2 width-1">
  <h2>((URY)) Player</h2>
  <dl class="clearfix">
      <dt class="pod-title">The Nic Munday Show Part 4 Feat My Parents!</dt>
          <dd class="pod-img"><img alt="Podcast image text" src="img/podcast.png"></dd>
          <dd class="pod-desc">The best bits o my show from the 1st june...</dd>
      <dt class="pod-title">The Nic Munday Show Part 3 Feat Peter Smith</dt>
          <dd class="pod-img"><img alt="Podcast image text" src="img/podcast.png"></dd>
          <dd class="pod-desc">The best bits of my show from May 25th, featuring...</dd>
  </dl>
  <form name="search" action="" method="post">
    <label for="term">Search our podcast library:</label>
    <input type="search" id="term" name="term" placeholder="Part of title or description">
    <input type="submit" value="Search">
  </form>
  <footer>
      <a class="more transHovBG" href="#">+</a>
  </footer>
</section>