<section id="speech" class="box height-1 width-1">
  <h2>Speech</h2>
  <dl>
      <dt><a href="#">Welcome and Autumn 2012</a></dt>
          <dd>On behalf of the Speech team at URY welcome to all the freshers coming...</dd>
      <dt><a href="#">Woman's Quarter: Travelling?</a></dt>
          <dd>The final episode of Janey Stephenson's excellent series is now available on...</dd>
  </dl>
  <footer>
      <a href="#">Listen to latest YorWorld podcast</a>
      <a class="more transHovBG" href="#">+</a>
  </footer>
</section>