{% extends "urysite/master.html" %}

{% comment %}
    This template should be used for articles that contain an aside,
    which is to be laid out as a sidebar.
{% endcomment %}

{% block body %}
<article class="{% block article-class %}{% endblock article-class %}">
    <header>
        <h1>
            {% block article-title %}Squiddles!{% endblock article-title %}
        </h1>
        {% block article-header-extra %}
        {% endblock article-header-extra %}
    </header>
    <div class="article-body pageAside">
        {% block article-body %}
        {% endblock article-body %}
    </div>
    <aside class="rightAside">
        {% block article-aside %}
        {% endblock article-aside %}
    </aside>
</article>
{% endblock body %}
