{% load static %}
{% load sitetree %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>
            {% block title %}URY
            -
            {% block title-rhs %}{{ section.title }}
            {% endblock title-rhs %}
            {% endblock title %}
        </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        
        
        <!-- <link rel="stylesheet" type="text/css" href="{% static "css/site.css" %}"> -->
        <link rel="stylesheet" href="{% static "css/normalise.css" %}">
        <link rel="stylesheet" href="{% static "css/main.css" %}">
    </head>
    <body>
        <header class="clearfix">
            <a id="logo" href="#">
                <img id="logo-img" alt"((URY))" src="{% static "img/ury-logo.png" %}">
                <h1>University Radio York</h1>
            </a>
            <div id="show-onup">
                <div id="show-live">
                    <h2>On Air:</h2>
                    <dl>
                        <dt class="show-name">Show:</dt>
                        <dd class="show-name"><a href="#">Show Name</a></dd>
                        <dt class="show-people">People:</dt>
                        <dd class="show-person">Person</dd>
                        <dd class="show-person">Person 2</dd>
                    </dl>
                </div>
                <div id="show-next">
                    <h2>Up Next:</h2>
                    <dl>
                        <dt class="show-name">Show:</dt>
                        <dd class="show-name"><a href="#">Show Name</a></dd>
                        <dt class="show-people">People:</dt>
                        <dd class="show-person">Person</dd>
                        <dd class="show-person">Person 2</dd>
                    </dl>
                </div>
            </div>
                <a id="webcam" class="transHovBG roundy" href="#">
                    <img id="webcam-img" alt="Live Webcam Image" src="{% static "img/webcam.jpg" %}" width="150px" height="113px">
                    <span>Listen Live</span>
                </a>
        </header>
        
        <nav id="menu" class="transBG">
            {% sitetree_menu from "main" include "trunk, this-children" %}
            
            <div id="socialBtn">
                <a href="http://www.twitter.com/ury1350">
		    <img alt="Twitter" width="20px" height="20px" src="{% static "img/twitter.png" %}">
		</a>
		<a href="http://www.facebook.com/pages/University-Radio-York/6168619549">
                    <img alt="Facebook" width="20px" height="20px" src="{% static "img/facebook.png" %}">
		</a>
		<a href="https://plus.google.com/104651573423729444340?prsrc=3">
                    <img alt="Google+" width="20px" height="20px" src="{% static "img/gplus.png" %}">
		</a>
            </div>
        </nav>
            
        <div id="grid" class="transBG clearfix">
            {% block body %}
            {% endblock body %}
        </div>
        
        <footer id="pageFooter">
            <h4>On This Site</h4>
            <ul class="footerNav">
                <li class="current"><a href="#">Home</a></li>
                <li><a href="#">Listen</a></li>
                <li><a href="#">Schedule</a></li>
                <li><a href="#">URY Player</a></li>
                <li><a href="#">News</a></li>
                <li><a href="#">Speech</a></li>
                <li><a href="#">Music</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Get Involved</a></li>
            </ul>
            <div id="copyright">&copy; 1967-2012 University Radio York<br>Maintaned by <a href="mailto:webmaster@ury.york.ac.uk">URY Computing Team</a></div>
            <ul id="footerLinks" class="footerNav">
                <li><a href="#">Disclaimer</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Members</a></li>
            </ul>
        </footer>


        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
        <script src="{% static "js/plugins.js" %}"></script>
        <script src="{% static "js/main.js" %}"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
