{% extends "urysite/master.html" %}

{% comment %}
    This template is designed for pages that include a lot of
    disparate information, especially if it neatly splits into two
    separate strands.  There is no semantic information in this
    template, so it should not be used for pages that contain closely
    bound information (like articles).
{% endcomment %}

{% block body %}
    <header>
        {% block content-header %}
            <h1>
                {% block content-title %}Red Miles{% endblock content-title %}
            </h1>
            {% block content-header-extra %}
            {% endblock content-header-extra %}
        {% endblock content-header %}
    </header>
    <div id="content-body">
        <div id="left">
            {% block left %}
            {% endblock left %}
        </div>
        <div id="right">
            {% block right %}
            {% endblock right %}
        </div>
    </div>
{% endblock body %}
