{% extends "urysite/master.html" %}
{% block title %}University Radio York - 1350AM{% endblock title %}
{% block body %}
        <section>
            <h1>URY Django</h1>
            <p>
                This is a placeholder.  If URY do decide to use
                Django, sweetbun's URY design will go here.
            </p>
            <nav>
                <h2>Links (for testing stuff out)</h2>
                <ul>
                    <li>
                        <a href="{% url show_detail 5621 %}">
                            Example Show
                        </a> 
                    </li>
                </ul>
            </nav>
        </section>
{% endblock body %}
