{% extends "urysite/master.html" %}
{% block title %}University Radio York - 1350AM{% endblock title %}
{% load embeded_views %}
{% block body %}
    <!-- Row 1 -->
        {% include "urysite/boxes/message.html" %}
        {% include "urysite/boxes/banner.html" with banners=banners %}
    <!-- Row 2 -->
        {% include "urysite/boxes/schedule.html" with schedule=schedule %}
        <!-- This is a block of 4 boxes -->
        {% include "urysite/boxes/news.html" with news=news %}
        {% include "urysite/boxes/speech.html" with speech=speech %}
        {% include "urysite/boxes/music.html" with music=music %}
        {% include "urysite/boxes/chart.html" with chart=chart %}
    <!-- Row 3 -->
        {% include "urysite/boxes/photo.html" %}
    <!-- Row 4 -->
        {% include "urysite/boxes/podcast.html" with podcasts=podcasts %}
        {% include "urysite/boxes/video.html" %}
        {% include "urysite/boxes/social.html" %}
        
{% endblock body %}
